---
# Copyright (c) 2025, NVIDIA CORPORATION.

ci:
  skip: [actionlint-docker]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint-docker
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: [tomli]
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v0.7.0
    hooks:
      - id: verify-copyright
  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    # Zizmor version.
    rev: v1.11.0
    hooks:
      # Run the linter.
      - id: zizmor
        exclude: |
          (?x)^(
            .github/workflows/build-in-devcontainer.yaml
          )$
