on:
  workflow_call:
    inputs:
      files_yaml:
        description: |
          YAML string containing mappings of the form `{key}: [{glob1}, {glob2}, etc.]`.
          Where `{key}` is an arbitrary identifier for grouping a set of changed files
          (e.g. "test_cpp" for "if these files change, C++ tests should be re-run") and
          each `{glob}` is a glob expression matching file paths in the calling repo.
          For example, "re-run all C++ tests on any changes EXCEPT docs" might look like this:
          'test_cpp: ["**", "!docs/**"]'.
        type: string
        required: true
      transform_expr:
        description: |
          jq expression for post-processing results to create this workflow's outputs.
          Provided for backwards compatibility; should not need to be updated with normal use.
        type: string
        required: false
        default: |
          to_entries |
          map(
            select(.key | endswith("_any_changed")) |
            {
              "key": (.key | rtrimstr("_any_changed")),
              "value": .value,
            }
          ) |
          from_entries
    outputs:
      changed_file_groups:
        value: ${{ jobs.changed-files.outputs.changed_file_groups }}

defaults:
  run:
    shell: bash

permissions:
  actions: read
  checks: none
  contents: read
  deployments: none
  discussions: none
  id-token: none
  issues: none
  packages: read
  pages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  changed-files:
    runs-on: ubuntu-latest
    name: "Check changed files"
    outputs:
      changed_file_groups: ${{ steps.changed-files.outputs.changed_file_groups }}
    steps:
      - name: Telemetry setup
        uses: rapidsai/shared-actions/telemetry-dispatch-setup@main
        continue-on-error: true
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Checkout code repo
        uses: actions/checkout@v6
        with:
          persist-credentials: true
      - name: Calculate changed files
        id: changed-files
        uses: rapidsai/shared-actions/changed-files@main
        with:
          files_yaml: ${{ inputs.files_yaml }}
          transform_expr: ${{ inputs.transform_expr }}
      - name: Telemetry upload attributes
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-job-artifacts@main
        continue-on-error: true
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        env:
          GH_TOKEN: ${{ github.token }}
