on:
  workflow_call:
    inputs:
      dependency_generator_config_file_path:
        description: "Location of the dependencies.yaml configuration file"
        default: "dependencies.yaml"
        required: false
        type: string
      enable_check_size:
        description: "Whether to enable the size checker"
        default: true
        type: boolean
        required: false
      enable_check_style:
        description: "Whether to enable the style checker"
        default: true
        type: boolean
        required: false
      enable_check_generated_files:
        description: "Whether to enable the generated files checker"
        default: true
        type: boolean
        required: false
      enable_check_pr_job_dependencies:
        description: "Whether to enable the PR workflow dependency checker"
        default: true
        type: boolean
        required: false
      enable_check_version_files_changed:
        description: "Whether to enable the version file changed checker"
        default: true
        type: boolean
        required: false
      enable_check_version_against_tag:
        description: "Whether to enable the version tag checker"
        default: true
        type: boolean
        required: false
      ignored_pr_jobs:
        description: "Space separated list of jobs to ignore when checking PR workflow dependencies"
        default: ""
        type: string
        required: false
    secrets:
      script-env-secret-1-key:
        description: |
          Name of an environment variable in the environment where 'inputs.script' is run.
          Variable's value will be set to the value passed as 'secrets.script-env-secret-1-value'.
        required: false
      script-env-secret-1-value:
        description: |
          Secret value.
          Will be available via an environment variable named by 'secrets.script-env-secret-1-key'.
        required: false
      script-env-secret-2-key:
        description: |
          Name of an environment variable in the environment where 'inputs.script' is run.
          Variable's value will be set to the value passed as 'secrets.script-env-secret-2-value'.
        required: false
      script-env-secret-2-value:
        description: |
          Secret value.
          Will be available via an environment variable named by 'secrets.script-env-secret-2-key'.
        required: false
      script-env-secret-3-key:
        description: |
          Name of an environment variable in the environment where 'inputs.script' is run.
          Variable's value will be set to the value passed as 'secrets.script-env-secret-3-value'.
        required: false
      script-env-secret-3-value:
        description: |
          Secret value.
          Will be available via an environment variable named by 'secrets.script-env-secret-3-key'.
        required: false

defaults:
  run:
    shell: bash

jobs:
  other-checks:
    runs-on: ubuntu-latest
    container:
      image: rapidsai/ci-conda:26.02-latest # zizmor: ignore[unpinned-images]
      env:
        RAPIDS_GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: true
      - name: Telemetry setup
        uses: rapidsai/shared-actions/telemetry-dispatch-setup@main
        continue-on-error: true
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Get PR Info
        id: get-pr-info
        uses: nv-gha-runners/get-pr-info@main
      - name: Run rapids-size-checker
        if: ${{ inputs.enable_check_size }}
        run: rapids-size-checker
        env:
          RAPIDS_BASE_BRANCH: ${{ fromJSON(steps.get-pr-info.outputs.pr-info).base.ref }}
      - name: Check workflow file dependencies
        if: ${{ inputs.enable_check_pr_job_dependencies }}
        run: rapids-check-pr-job-dependencies "${IGNORED_JOBS}"
        env:
          IGNORED_JOBS: ${{ inputs.ignored_pr_jobs }}
      - name: Check changed files
        id: changed-files
        if: ${{ inputs.enable_check_version_files_changed }}
        uses: rapidsai/shared-actions/changed-files@main
        with:
          files_yaml: |
            version_files:
              - VERSION
              - RAPIDS_VERSION
      - name: Check if VERSION or RAPIDS_VERSION file has changed
        if: ${{ inputs.enable_check_version_files_changed }}
        run: |
          if [ "$VERSION_FILES_CHANGED" != "false" ]; then
            echo "ERROR: VERSION or RAPIDS_VERSION file has been changed"
            exit 1
          fi
        env:
          VERSION_FILES_CHANGED: ${{ fromJSON(steps.changed-files.outputs.changed_file_groups).version_files }}
      - name: Fetch tags
        if: ${{ inputs.enable_check_version_against_tag }}
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0 # https://github.com/actions/checkout/issues/1471
          fetch-tags: true
      - name: Check VERSION file against latest tag
        if: ${{ inputs.enable_check_version_against_tag }}
        run: |
          expected_version="$(cat VERSION)"
          actual_version="$(python -m dunamai from git --format '{base}')"
          if [ "$expected_version" != "$actual_version" ]; then
            echo "ERROR: Expected latest tag to be '$expected_version', got '$actual_version'; did you accidentally merge 'main' into a release-bound PR?"
            exit 1
          fi
      - name: Telemetry upload attributes
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-job-artifacts@main
        continue-on-error: true
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        env:
          GH_TOKEN: ${{ github.token }}

  check-style:
    if: ${{ inputs.enable_check_style }}
    runs-on: ubuntu-latest
    container:
      # Must pin to Python <3.13, cmake-format is broken, see https://github.com/python/cpython/issues/140797
      image: rapidsai/ci-conda:26.02-cuda13.0.2-ubuntu24.04-py3.12 # zizmor: ignore[unpinned-images]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: true
      - name: Telemetry setup
        uses: rapidsai/shared-actions/telemetry-dispatch-setup@main
        continue-on-error: true
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Get PR Info
        id: get-pr-info
        uses: nv-gha-runners/get-pr-info@main
      - uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-0|${{ hashFiles('.pre-commit-config.yaml') }}
      # cannot reference possibly-null things in the 'env:' block, so the secret inputs need to be
      # processed in a shell script like this
      - name: Set script env
        run: |
          if test -n "${{ secrets.script-env-secret-1-key }}"; then
            echo "${{ secrets.script-env-secret-1-key }}=${{ secrets.script-env-secret-1-value }}" >> "${GITHUB_ENV}"
          fi
          if test -n "${{ secrets.script-env-secret-2-key }}"; then
            echo "${{ secrets.script-env-secret-2-key }}=${{ secrets.script-env-secret-2-value }}" >> "${GITHUB_ENV}"
          fi
          if test -n "${{ secrets.script-env-secret-3-key }}"; then
            echo "${{ secrets.script-env-secret-3-key }}=${{ secrets.script-env-secret-3-value }}" >> "${GITHUB_ENV}"
          fi
      - name: Run ci/check_style.sh
        run: ci/check_style.sh
        env:
          RAPIDS_BASE_BRANCH: ${{ fromJSON(steps.get-pr-info.outputs.pr-info).base.ref }}
      - name: Telemetry upload attributes
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-job-artifacts@main
        continue-on-error: true
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        env:
          GH_TOKEN: ${{ github.token }}
