on:
  workflow_call:
    inputs:
      dependency_generator_config_file_path:
        description: "Location of the dependencies.yaml configuration file"
        default: "dependencies.yaml"
        required: false
        type: string
      enable_check_size:
        default: true
        type: boolean
        required: false
      enable_check_style:
        default: true
        type: boolean
        required: false
      enable_check_generated_files:
        default: true
        type: boolean
        required: false

jobs:
  check-size:
    if: ${{ inputs.enable_check_size }}
    runs-on: ubuntu-latest
    container:
      image: rapidsai/ci:latest
      env:
        RAPIDS_GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Get PR Info
        id: get-pr-info
        uses: rapidsai/shared-action-workflows/get-pr-info@main
      - name: Run rapids-size-checker
        run: rapids-size-checker
        env:
          RAPIDS_BASE_BRANCH: ${{ fromJSON(steps.get-pr-info.outputs.pr-info).base.ref }}
  check-style:
    if: ${{ inputs.enable_check_style }}
    runs-on: ubuntu-latest
    container:
      image: rapidsai/ci:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Get PR Info
        id: get-pr-info
        uses: rapidsai/shared-action-workflows/get-pr-info@main
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-0|${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Run ci/check_style.sh
        run: ci/check_style.sh
        env:
          RAPIDS_BASE_BRANCH: ${{ fromJSON(steps.get-pr-info.outputs.pr-info).base.ref }}
  check-generated-files:
    if: ${{ inputs.enable_check_generated_files }}
    runs-on: ubuntu-latest
    container:
      image: rapidsai/ci:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run rapids-dependency-file-checker
        run: rapids-dependency-file-checker ${{ inputs.dependency_generator_config_file_path }}
