on:
  workflow_call:
    inputs:
      build_type:
        required: true
        type: string
      branch:
        type: string
      date:
        type: string
      sha:
        type: string
      repo:
        type: string
      skip_upload_pkgs:
        type: string
      upload_to_label:
        description: The label that should be applied to packages uploaded to Anaconda.org
        type: string
        default: main

defaults:
  run:
    shell: bash

permissions:
  actions: read
  checks: none
  contents: read
  deployments: none
  discussions: none
  id-token: write
  issues: none
  packages: read
  pages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  upload:
    runs-on: linux-amd64-cpu4
    container:
      image: rapidsai/ci-conda:latest
      env:
        RAPIDS_BUILD_TYPE: ${{ inputs.build_type }}
    steps:
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
          role-duration-seconds: 43200 # 12h
      - uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repo }}
          ref: ${{ inputs.sha }}
          fetch-depth: 0
      - name: Standardize repository information
        run: |
          echo "RAPIDS_REPOSITORY=${{ inputs.repo || github.repository }}" >> "${GITHUB_ENV}"
          echo "RAPIDS_SHA=$(git rev-parse HEAD)" >> "${GITHUB_ENV}"
          echo "RAPIDS_REF_NAME=${{ inputs.branch || github.ref_name }}" >> "${GITHUB_ENV}"
          echo "RAPIDS_NIGHTLY_DATE=${{ inputs.date }}" >> "${GITHUB_ENV}"
      - name: Check if repository is private
        uses: actions/github-script@v7
        id: is-private
        with:
          result-encoding: string
          retries: 5
          script: |
            return (await github.rest.repos.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
            })).data.private
      - name: Set Proper Conda Upload Token
        env:
          REPO_IS_PRIVATE: ${{steps.is-private.outputs.result}}
        run: |
          RAPIDS_CONDA_TOKEN=${{ secrets.CONDA_RAPIDSAI_NIGHTLY_TOKEN }}
          if rapids-is-release-build; then
            RAPIDS_CONDA_TOKEN=${{ secrets.CONDA_RAPIDSAI_TOKEN }}
            if [ "${REPO_IS_PRIVATE}" = "true" ]; then
              RAPIDS_CONDA_TOKEN=${{ secrets.CONDA_NVIDIA_TOKEN }}
            fi
          fi
          echo "RAPIDS_CONDA_TOKEN=${RAPIDS_CONDA_TOKEN}" >> "${GITHUB_ENV}"
      - name: Upload packages
        run: rapids-upload-to-anaconda
        env:
          SKIP_UPLOAD_PKGS: ${{ inputs.skip_upload_pkgs }}
          RAPIDS_CONDA_UPLOAD_LABEL: ${{ inputs.upload_to_label }}
