name: Project - Get Item ID Within the Project
# This workflow gets the project-specific ID for an item within a project
# All downstream queries and mutations of fields within the project require this ID

on:
  workflow_call:
    inputs:
      PROJECT_ID:
        description: "The Project's graphQL node ID"
        type: string
        required: true

      SINGLE_SELECT_FIELD_NAME:
        description: "The name of the single-select field"
        type: string
        required: true

      SINGLE_SELECT_FIELD_ID:
        description: "The graphQL node ID of the single-select field"
        type: string
        required: true

      ITEM_PROJECT_ID:
        description: "The issue or PR's graphQL project-specific ID"
        type: string
        required: true

      UPDATE_ITEM:
        description: "Whether to update the item's single-select field"
        default: false
        type: boolean

      # Optional fields, used if UPDATE_ITEM is set to true
      ITEM_NODE_ID:
        description: "The issue or PR's graphQL node ID, only needed if updating linked issues"
        default: null
        type: string

      UPDATE_LINKED_ISSUES:
        description: "Whether to update the linked issues' single_select fields"
        default: false
        type: boolean

      # Optional, if not specified, we default to the first option in the selector
      SINGLE_SELECT_OPTION_VALUE:
        description: "The value of the option we'd like to get/set"
        type: string
        default: null

    secrets:
      ADD_TO_PROJECT_GITHUB_TOKEN:
        description: "Project Access Token"
        required: true

    outputs:
      SINGLE_SELECT_OPTION_ID:
        value: ${{ jobs.get_set_single_select_option_id.outputs.SINGLE_SELECT_OPTION_ID }}
        description: "The single_select option ID"

jobs:
  get_set_single_select_option_id:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      SINGLE_SELECT_OPTION_ID: ${{ steps.get_single_select_option_id.outputs.SINGLE_SELECT_OPTION_ID }}

    steps:
      - name: Get single_select Option ID
        id: get_single_select_option_id
        env:
          GH_TOKEN: ${{ secrets.ADD_TO_PROJECT_GITHUB_TOKEN }}
          ENV_SINGLE_SELECT_OPTION_VALUE: ${{ inputs.SINGLE_SELECT_OPTION_VALUE }}
          ENV_PROJECT_ID: ${{ inputs.PROJECT_ID }}
          ENV_SINGLE_SELECT_FIELD_NAME: ${{ inputs.SINGLE_SELECT_FIELD_NAME }}
        run: |
            # Get single_select option id
            if [ -z "$ENV_SINGLE_SELECT_OPTION_VALUE" ]; then
              # No option specified, get first option in list
              gh api graphql -f projectId="$ENV_PROJECT_ID" \
                           -f fieldName="$ENV_SINGLE_SELECT_FIELD_NAME" \
                           -f query='
                query($projectId: ID!, $fieldName: String!) {
                    node(id: $projectId) {
                        ... on ProjectV2 {
                        field(name: $fieldName) {
                            ... on ProjectV2SingleSelectField {
                            options {id}
                              }
                            }
                          }
                        }
                      }' > single_select_option_data.json
            else
              # Get specific value
              gh api graphql -f projectId="$ENV_PROJECT_ID" \
                           -f fieldName="$ENV_SINGLE_SELECT_FIELD_NAME" \
                           -f optionName="$ENV_SINGLE_SELECT_OPTION_VALUE" \
                           -f query='
                query($projectId: ID!, $fieldName: String!, $optionName: String!) {
                    node(id: $projectId) {
                        ... on ProjectV2 {
                        field(name: $fieldName) {
                            ... on ProjectV2SingleSelectField {
                            options(names: [$optionName]) {id}
                              }
                            }
                          }
                        }
                      }' > single_select_option_data.json
            fi

            # Use jq with --exit-status to fail if no option is found
            current_single_select_option_id=$(jq --exit-status -r '.data.node.field.options[0].id' single_select_option_data.json)
            echo "SINGLE_SELECT_OPTION_ID=$current_single_select_option_id" >> "${GITHUB_OUTPUT}"
        continue-on-error: true

      - name: Update item single_select field
        id: update_item_single_select_field
        if: ${{ inputs.UPDATE_ITEM == true }}
        env:
          GH_TOKEN: ${{ secrets.ADD_TO_PROJECT_GITHUB_TOKEN }}
          ENV_PROJECT_ID: ${{ inputs.PROJECT_ID }}
          ENV_ITEM_PROJECT_ID: ${{ inputs.ITEM_PROJECT_ID }}
          ENV_SINGLE_SELECT_FIELD_ID: ${{ inputs.SINGLE_SELECT_FIELD_ID }}
          ENV_SINGLE_SELECT_OPTION_ID: ${{ steps.get_single_select_option_id.outputs.SINGLE_SELECT_OPTION_ID }}
        run: |
            gh api graphql -f projectId="$ENV_PROJECT_ID" \
                         -f itemId="$ENV_ITEM_PROJECT_ID" \
                         -f fieldId="$ENV_SINGLE_SELECT_FIELD_ID" \
                         -f optionId="$ENV_SINGLE_SELECT_OPTION_ID" \
                         -f query='
              mutation($projectId: ID!, $itemId: ID!, $fieldId: ID!, $optionId: String!) {
                updateProjectV2ItemFieldValue(
                  input: {
                    projectId: $projectId
                    itemId: $itemId
                    fieldId: $fieldId
                    value: {
                      singleSelectOptionId: $optionId
                    }
                  }
                ) {
                    projectV2Item {
                    id
                    }
                  }
                }'
        continue-on-error: true

  update_linked_issues:
    if: ${{ inputs.UPDATE_LINKED_ISSUES == true }}
    permissions:
      contents: read
    uses: ./.github/workflows/project-update-linked-issues.yaml
    needs: get_set_single_select_option_id
    with:
      PROJECT_ID: ${{ inputs.PROJECT_ID }}
      PR_PROJECT_ID: ${{ inputs.ITEM_PROJECT_ID }}
      PR_NODE_ID: ${{ inputs.ITEM_NODE_ID }}
      UPDATE_FIELD_TYPE: "single_select"
      UPDATE_FIELD_ID: ${{ inputs.SINGLE_SELECT_FIELD_ID }}
      UPDATE_FIELD_VALUE: ${{ needs.get_set_single_select_option_id.outputs.SINGLE_SELECT_OPTION_ID }}
    secrets: inherit
