name: Publish RAPIDS wheels

on:
  workflow_call:
    inputs:
      # repo and branch
      repo:
        type: string
      branch:
        type: string
      date:
        type: string
      sha:
        type: string
      build_type:
        required: true
        type: string

      # general settings
      package-name:
        required: true
        type: string
      package-type:
        required: false
        default: python
        type: string

permissions:
  actions: read
  checks: none
  contents: read
  deployments: none
  discussions: none
  id-token: write
  issues: none
  packages: read
  pages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  wheel-publish:
    name: wheels publish
    runs-on: linux-amd64-cpu4
    container:
      # CUDA toolkit version of the container is irrelevant in the publish step.
      # This just uploads already-built wheels to remote storage.
      image: "rapidsai/ci-wheel:latest"
      env:
        RAPIDS_BUILD_TYPE: ${{ inputs.build_type }}
    steps:
    - uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ vars.AWS_ROLE_ARN }}
        aws-region: ${{ vars.AWS_REGION }}
        role-duration-seconds: 43200 # 12h
    - name: checkout code repo
      uses: actions/checkout@v4
      with:
        repository: ${{ inputs.repo }}
        ref: ${{ inputs.sha }}
        fetch-depth: 0 # unshallow fetch for setuptools-scm
        persist-credentials: false

    - name: Standardize repository information
      uses: rapidsai/shared-actions/rapids-github-info@main
      with:
        repo: ${{ inputs.repo }}
        branch: ${{ inputs.branch }}
        date: ${{ inputs.date }}
        sha: ${{ inputs.sha }}
    - name: mint API token
      run: ci/mint-pypi-token.sh

    - name: Download wheels from downloads.rapids.ai and publish to anaconda repository
      run: ci/rapids-wheels-anaconda "${{ inputs.package-name }}" "${{ inputs.package-type }}"
      # env:
      #   RAPIDS_CONDA_TOKEN: ${{ secrets.CONDA_RAPIDSAI_WHEELS_NIGHTLY_TOKEN }}
      
    # - name: Download wheels from downloads.rapids.ai and publish to PyPI
    #   run: ci/rapids-wheels-pypi "${{ inputs.package-name }}" "${{ inputs.package-type }}"
    #   env:
    #     TWINE_USERNAME: "__token__"
    #     TWINE_PASSWORD: ${{ steps.mint-token.outputs.api-token }}
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/

