name: Publish RAPIDS wheels

on:
  workflow_call:
    inputs:
      # repo and branch
      repo:
        type: string
      branch:
        type: string
      date:
        type: string
      sha:
        type: string
      build_type:
        description: "One of: [branch, nightly, pull-request]"
        required: true
        type: string

      # general settings
      package-name:
        required: true
        type: string
      package-type:
        description: "One of: [cpp, python]"
        required: false
        default: python
        type: string
      publish_to_pypi:
        required: false
        type: boolean
        default: false

permissions:
  actions: read
  checks: none
  contents: read
  deployments: none
  discussions: none
  id-token: write
  issues: none
  packages: read
  pages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  wheel-publish:
    name: wheels publish
    # Use a self-hosted runner to ensure we have sufficient disk space. Using
    # cpu8 since we shouldn't need much CPU horsepower.
    runs-on: "linux-amd64-cpu8"
    container:
      # CUDA toolkit version of the container is irrelevant in the publish step.
      # This just uploads already-built wheels to remote storage.
      image: "rapidsai/ci-wheel:latest"
      env:
        RAPIDS_BUILD_TYPE: ${{ inputs.build_type }}
    steps:
    - uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ vars.AWS_ROLE_ARN }}
        aws-region: ${{ vars.AWS_REGION }}
        role-duration-seconds: 43200 # 12h

    - name: checkout code repo
      uses: actions/checkout@v4
      with:
        repository: ${{ inputs.repo }}
        ref: ${{ inputs.sha }}
        fetch-depth: 0 # unshallow fetch for setuptools-scm
        persist-credentials: false

    - name: Telemetry setup
      uses: rapidsai/shared-actions/telemetry-dispatch-setup@main
      continue-on-error: true
      if: ${{ vars.TELEMETRY_ENABLED == 'true' && github.run_attempt == '1' }}

    - name: Standardize repository information
      uses: rapidsai/shared-actions/rapids-github-info@main
      with:
        repo: ${{ inputs.repo }}
        branch: ${{ inputs.branch }}
        date: ${{ inputs.date }}
        sha: ${{ inputs.sha }}

    - name: Download wheels from downloads.rapids.ai and publish to anaconda repository
      run: rapids-wheels-anaconda-github "${{ inputs.package-name }}" "${{ inputs.package-type }}"
      env:
        RAPIDS_CONDA_TOKEN: ${{ secrets.CONDA_RAPIDSAI_WHEELS_NIGHTLY_TOKEN }}

    - name: Check if build is release
      id: check_if_release
      shell: bash
      if: ${{ inputs.publish_to_pypi }}
      run: |
        if rapids-is-release-build; then
          echo "is_release_build=true" | tee -a ${GITHUB_OUTPUT}
        else
          echo "is_release_build=false" | tee -a ${GITHUB_OUTPUT}
        fi

    - name: Publish the downloaded wheels to PyPI
      if: ${{ inputs.publish_to_pypi && steps.check_if_release.outputs.is_release_build == 'true' }}
      run: |
        python3 -m pip install twine
        python3 -m twine upload -u __token__ dist/*
      env:
        TWINE_PASSWORD: ${{ secrets.RAPIDSAI_PYPI_TOKEN }}
    - name: Telemetry upload attributes
      uses: rapidsai/shared-actions/telemetry-dispatch-stash-job-artifacts@main
      continue-on-error: true
      if: ${{ vars.TELEMETRY_ENABLED == 'true' && github.run_attempt == '1' }}
